<div class="advertContainer">
    <div class="advert shadow" *ngFor="let ad of adverts">
        <div class="image" [ngStyle]="{'background-image': 'url(' + api.apiUrl + '' + ad.featuredImage + ')'}"></div>
        <div class="adDetails">
            <h1 class="title">{{ad.title}}</h1>
            <p class="description">{{ad.description}}</p>

            <span class="date created">Added On: {{getDateTime(ad.dateCreated)}}</span>

            <span class="date updated">Last Updated: {{getDateTime(ad.dateCreated)}}</span>
        </div>
    </div>
</div>

